/* FUENTES ADICIONALES */
@font-face {
    font-family: "Trash-Hand";
    src: url("fuentes/TrashHand.ttf") format("TrueType");
}
@font-face {
    font-family: "ZapfDingbats";
    src: url("fuentes/ZapfDingbats.ttf") format("TrueType");
}

/* ASPECTO GENERAL DE LA APP */
#app {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--true-letras-color);
}
h1 {
    font-size: 12pt;
    margin-top: 3px;
    margin-bottom: 3px;
    color: var(--true-color-empresa);
}
h2 {
    font-size: 11pt;
}
h3 {
    font-size: 10pt;
}
h4 {
    font-size: 9pt;
}
h5 {
    font-size: 8pt;
}
p {
   font-size: 8pt; 
}
/* COMPONENTES COMUNES */
.container-fluid{
    padding: 0 !important;
    vertical-align: bottom;
    font-size: 8pt;
}
.conerror {
    border: 2px solid red;
    color: red;
}
.sinerror {
    border: 2px solid var(--true-border-color);
    color: var(--true-letras-color);
}
.mensaje {
    font-size: 8pt;
    color: red;
    font-weight: bold;
}
ul li {
    font-size: 8pt;
}
.btn {
    background-color: white;
    color:grey;
    font-size: 8pt;
    height: auto;
    width: auto;
    border-radius: 35px;
    border: 2px solid silver;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px; 
     
}
.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}
.btn:hover {
    color: var(--true-button-hover-letras);
    background-color: var(--true-button-hover-color);
    border-color: var(--true-border-button-color);
    border-radius: 35px;
}
.btn:disabled {
    border-color: var(--true-button-border-disabled);
}
.btn[disabled]:hover {
    background-color: var(--true-button-hover-disabled);
}
.card {
    font-size: 8pt;
}
.nav {
    font-size: 8pt;
    margin-left: 10px;
}
.nav-pills .nav-link {
    font-size: 8px;
    margin: 2px;
    padding: 10px;

}
.nav-item {
    font-size: 8pt;
}.nav-link {
    font-size: 8pt;
}
.nav-link-white {
    color: white;
    font-weight:normal;
    font-size: 8pt;
}
.nav-link-white:hover {
    color: white;
    font-weight: bold;
    font-size: 8pt;
}
.router-link {
    font-size: 8pt;
}
.dropdown-item {
    font-size: 8pt;
}
.telon {
    position: absolute; 
    top: 0; 
    left: 0;
    background-color: rgb(192,192,192,0.5);
    width:100%;
    height:100%;
    z-index: 9999;
       
}
.form-control {
    height: auto;
    font-size: 8pt;
}
input[type="text"] {
    height: auto;
    font-size: 8pt;
}
input[type="password"] {
    height: auto;
    font-size: 8pt;
}
input[type="file"] {
    display: none;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  rgb(192,192,192,0.8) !important;
    opacity: 1 !important; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  rgb(192,192,192,0.8) !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color:  rgb(192,192,192,0.8) !important;
}
select {
    height: auto;
    font-size: 8pt;
}
select option {
    height: auto;
    font-size: 8pt;
}
/* /////////////////////////////////// CHECKBOXES /////////////////////////// */
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}
.content-input{
	position: relative;
	margin-bottom: 5px;
	padding: 5px 0 5px 60px; /* Damos un padding de 60px para posicionar el elemento <i> en este espacio*/
	display: flex;
    float: left;
}
/* Estas reglas se aplicarán a todos las elementos i después de cualquier input*/
.content-input input + i{
    background: #f0f0f0;
    border:2px solid rgba(0,0,0,0.2);
    position: absolute; 
    left: 0;
    top: 0;
}
/* Estas reglas se aplicarán a todos los i despues de un input de tipo checkbox*/
.content-input input[type=checkbox ] + i{
	width: 52px;
	height: 30px;
	border-radius: 15px;
}
/*
Creamos el círculo que aparece encima de los checkbox
con la etiqueta before. Importante aunque no haya contenido
debemos definir este valor.
*/
.content-input input[type=checkbox] + i:before{
	content: ''; /* No hay contenido */
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
}
.content-input input[type=checkbox]:checked + i:before{
	left: 22px;
	-webkit-box-shadow: -3px 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
}
.content-input input[type=checkbox]:checked + i{
 background: var(--true-button-hover-color);
}
.content-input input[type=checkbox] + i:after{
	content: 'ON';
	position: absolute;
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	top: 8px;
	left: 4px;
	opacity: 0 /* Ocultamos este elemento */;
	transition: all 0.25s ease 0.25s;
}
/* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos */
.content-input input[type=checkbox]:checked + i:after{
	opacity: 1;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^ CHECKBOXES ^^^^^^^^^^^^^^^^^^^^^^^^ */
