:root {
    /* Colores generales */
    --true-color-empresa: darkblue;
    --true-background-color: darkblue;
    --true-letras-color: black;
    --true-header-color: #2a68d3;
    --true-border-color: darkblue;

    /* BUTTON */
    /* ENABLED */
    --true-button-color: darkblue;
    --true-button-border: blue;
    --true-button-background: white;
    /* ENABLED HOVER */
    --true-button-hover-color: white;
    --true-button-hover-border: darkblue;
    --true-button-hover-background: rgb(15, 111, 228);
    --true-button-hover-color-plus: yellow;
    /* DISABLED */
    --true-button-disabled-color: grey;
    --true-button-disabled-border: grey;
    --true-button-disabled-background: white;    

    /* Desplegables */
    --true-select-background-color:  rgb(228, 64, 15);

    --true-background-error: rgb(187, 194, 231);
}